@model Application.DTOs.SubscriptionResponseModel

@{
    ViewData["Title"] = "ViewPlan";
}

<h1>ViewPlan</h1>

<div>
    <h4>SubscriptionResponseModel</h4>
    <hr />
    <dl class="row">

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Frequency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Frequency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentPlanDateStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentPlanDateStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentPlanDateEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentPlanDateEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentPlanType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentPlanType)
        </dd>
        
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
