<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>

    <link rel="stylesheet" href="~/SideBar/SideBar.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
     <section class="menu">
        <div class="logo">
            <img src="~" alt="Logo">
            <h2>Waste Management</h2>
        </div>
            <ul class="sidenav">
                    <li class="active"><i class="fa-solid fa-chart-pie"></i><a href="@Url.Action("DashBoard", "Admin")">Dashboard</a></li>
                    <li><i class="fa-solid fa-building"></i><a href="@Url.Action("AllAgent", "Admin")">Government Sectors</a></li>
                    <li><i class="fa-solid fa-plus"></i><a href="@Url.Action("CreatePlan", "Admin")">Create Plan</a></li>
                    <li><i class="fa-solid fa-list"></i><a href="@Url.Action("PendingPlan", "Admin")">All Plans</a></li>
                    <li><i class="fa-solid fa-clock"></i><a href="@Url.Action("ExpiredPlans", "Admin")">Expired Plans</a></li>
                    <li><i class="fa-solid fa-file-contract"></i><a href="@Url.Action("PendingContracts", "Admin")">Contracts</a></li>
                    <li><i class="fa-solid fa-check"></i><a href="@Url.Action("ActiveContracts", "Admin")">Active Contracts</a></li>
                    <li><i class="fa-solid fa-user-plus"></i><a href="@Url.Action("RegisterStaff", "Admin")">Register Staff</a></li>
                    <li><i class="fa-solid fa-users"></i><a href="@Url.Action("AllStaffs", "Admin")">All Staff</a></li>
                    <li><i class="fa-solid fa-tasks"></i><a href="@Url.Action("AssignRequest", "Admin")">Assign Staff</a></li>
                    <li><i class="fa-solid fa-building"></i><a href="@Url.Action("AllCommunity", "Admin")">All Community</a></li>
                    <li><i class="fa-solid fa-user"></i><a href="@Url.Action("AllIndividuals", "Admin")">All Individuals</a></li>
                </ul>
    </section>


      <div class="content">
        @RenderBody()
    </div>


</body>
</html>







